body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.header {
	width: 60%;
	height: 90px;
	margin: auto;
}

.header-logo {
	font-family: 'Lobster', cursive;
	color: #bb0000;
	font-size: 35px;
	float: left;
	padding: 20px;
}

.header-logo:hover {
	color: #bb0000;
}

.header-info {
	float: right;
	padding: 35px;
	height: 90px;
}

.header-info-1 {
	float: left;
	padding-right: 7px;
}

.header-info-2 {
	float: right;
	padding-left: 7px;
}

.main {
	border-top: 1.5px solid #ebebeb;
}

.main-content {
	width: 60%;
	height: 250px;
	margin: auto;
}

.banner {
	background-image: url("banner.jpg");
    background-size: cover;
	height: 250px;
	border-radius: 16px;
}

.banner-padding {
	padding-top: 30px;
}

a {
	text-decoration: none;
	color: black;
}

.search {
	padding-top: 30px;
	float: left;
}

.text-space {
	margin-top: 7px;
}

.search-button {
	background-color: #bb0000;	
	border: none;
	color: white;
	padding: 4px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 2px;
	border-radius: 6px;
}

.search-button:hover {
	color: white;
}

.search-image {
	background-image: url("search.png");
	height: 12px;
}

.message-title {
	text-align: "center";
	font-size = 50px;
}

.message-history {
	text-align: "left";
	font-size = 14px;
}

.results {
	font-size: 20px;
	padding: 30px;
}

img {
	background-image: url("banner.jpg");
    background-size: cover;
	width: 250px;
	border-radius: 16px;
}

.title {
	font-size: 24px;
}

.info {
	font-size: 16px;
}

.settings {
	font-size: 18px;
	padding: 10px;
}

.error {
	color: red;
}

.verify {
	color: green;
}
